<article class="archive-article archive-type-<%= post.layout %>">
  <div class="archive-article-inner">
    <header class="archive-article-header">
      <%- partial('post/title', {class_name: 'archive-article-title'}) %>
      <%- partial('post/date', {class_name: 'archive-article-date', date_format: 'DD MMM YYYY'}) %>
      <%- partial('post/tag', {class_name: 'archive-article-tag'}) %>
    </header>
  </div>
</article>