<nav class="menu">
  <div class="menu-brand">
    <a href="/" class="menu-brand-icon">
      <img src="/images/icon/icon.png"/>
    </a>
    <%
      const title = config.title || page.title
    %>
    <a class="menu-brand-name" href="/" title="<%= title %>"><%= title %></a>
  </div>
  <input type="checkbox" id="menu-items-close" class="menu-checkbox">
  <label class="menu-icon" for="menu-items-close">
    <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="bars" class="svg-inline--fa fa-bars fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z"></path></svg>      
  </label>
  <div class="menu-items">
    <div class="menu-items-bg"></div>
    <div class="menu-items-bg-filter"></div>
    <label class="menu-items-close" for="menu-items-close"></label>
    <%- list_categories({class: 'menu-items-categories', show_count: theme.show_count}) %>
  </div>
</nav>
