.footer
  background-color color-beige
  min-height: 15vh
  color color-grey
  font-size 0.9rem
  text-align center
  @media mq-normal
    text-align left
    font-size 1rem
  .outer
    padding-top 20px
    padding-bottom 30px
  &-tags
    margin-bottom 4px
    @media mq-normal
      margin-bottom 10px
    a
      color color-grey
      margin-bottom 10px
  &-info
    color color-grey
    display flex
    align-items center  
    justify-content space-between
    margin-bottom 30px
    flex-direction column
    @media mq-normal
      flex-direction row
  &-brand
    display flex
    align-items center
    color color-grey
    margin-bottom 10px
    @media mq-normal
      margin-bottom 0
    &-title
      font-size 1.1rem
      margin-left 8px
      color color-grey
      @media mq-normal
        margin-left 15px
        font-size 1.3rem
    &-icon
      width 48px
      height 48px
      display block
      @media mq-normal
        width 64px
        height 64px      
  &-social .fa
    font-size 1.2rem
    margin 0 8px
    @media mq-normal
      font-size 1.4rem