nav
  &.menu
    height 40px
    position fixed
    background color-forest
    width 100%
    z-index 1
    top 0
    left 0
    display flex
    justify-content space-between
    align-items center
    background-image linear-gradient(to right,#023459, #003853, #45bb89, #91d4c2)
    @media mq-normal
      height 54px
      
.menu
  &-checkbox
    display none
    &:checked 
      & ~ .menu-items
        transform translateY(0)
      & ~ .menu-icon
        display none
  &-brand
    font-size 1.1rem
    align-items center
    display flex
    @media mq-normal
      font-size 1.4rem
    &-name
      color color-white
      padding 0 10px
      flex 4
      overflow hidden
      white-space nowrap
      text-overflow ellipsis      
    &-icon
      display flex
      align-items center
      padding 0
      margin-left 10px
      flex-basis 32px
      flex 1
      max-width 32px
      img
        width 32px
        height 32px
  &-icon
    width 18px
    height 18px
    margin 0 20px
    cursor pointer
    @media mq-normal
      display none
      width 20px
      height 20px  
    svg
      fill color-white
      width 100%
      height 100%
    path
      fill color-white
  &-items
    display flex
    transition transform .4s ease-in-out
    // transform translateY(-100%)
    transform translateY("calc(%s - 100%)" % nav-height-mobile)
    position fixed
    width 100vw
    height 100vh
    top 0
    left 0
    // background rgba(0, 0, 0, 0.6)    
    
    z-index -1

    @media mq-normal
      // transform translateY("calc(%s - 100%)" % nav-height-desktop)
      transform none
      position absolute
      width 100%
      height 100%
    &-bg
      mix-blend-mode multiply
      background-image url('/images/aurora.jpg')
      background-repeat no-repeat
      background-size cover
      background-position center 
      width 100%
      height 100%
      display flex
      position absolute
      z-index -1
      // opacity 0.9
    &-categories-list
      margin 0
      padding 0
      list-style none
      display flex
      flex-direction column
      color color-white
      flex 1
      justify-content center
      text-align center
      @media mq-normal
        flex-direction row
      &-item
        margin-bottom 5px
        @media mq-normal
          display flex
          align-items center
          font-size 1.2rem
          margin 0 20px
      &-child
        @media mq-normal
          display none
      a
        color color-white
      ul
        margin 0
        padding 0
        list-style none
    &-close
      position absolute
      background-image url('/images/icon/icon_close_white@2x.png')
      width 18px
      height 18px
      background-repeat repeat
      background-size cover
      right 12px
      top 12px
      @media mq-normal
        display none
    