.profile
  padding-top 20px
  flex-direction column
  display flex
  align-items center
  &-image
    width 100px
    height 100px
    margin-bottom 15px
  &-title
    font-size 1.4rem
    font-weight bold
  &-text
    text-align center
    line-height 1.6rem
    color color-grey
  img
    border-radius 50%
    