.widget
  ul
    margin 0
    padding 0 20px
  &-title
    font-size 1.2rem
    color: color-navy
    border-left 3px solid color-forest
    padding 8px 15px
    background-color color-background
    // border-bottom 1px solid #ddd
    