<div class="widget-wrap">
  <h3 class="widget-title"><%= __('about_me') %></h3>
  <div class="widget profile">
    <div class="profile-image">
      <img src="/images/profile_ac.png"/>
    </div>
    <div class="profile-title">KW</div>
    <p class="profile-text">80後IT人，揼code多過寫字，手痕開個blog分享少少想法。最近沈迷動森與烘焙中。</p>
  </div>
</div>