nav
  &.menu
    height: 5vh
    position: fixed
    background: color-black
    width: 100%
    z-index: 1
    top: 0
    left: 0
    display flex
    justify-content space-between
    align-items center
    // flex-direction row-reverse
    // @media mq-normal
    //   flex-direction row
    
.menu
  &-brand
    font-size 1.2em
    align-items: center
    // display none
    @media mq-normal
      font-size: 1.4em
    a
      color color-white
      padding 0 20px
  &-icon
    width: 20px
    height 20px
    margin 0 20px
    svg
    path
      fill color-white
  &-items
    display none
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.7);
    top: 0;
    left: 0;
    