@import "_variables"

body
  font-family: 'Work Sans', 'Noto Sans TC', sans-serif
  background-color: color-beige
  &.with-menu
    padding-top: 5vh

// h1, h2, h3, h4, h5, h6 
//   font-family: 'Work Sans', 'Noto Sans TC', sans-serif

a
  color: color-blue

img
  max-width 100%
  
  
@import "_extend"
@import "_partial/nav"
@import "_partial/header"
@import "_partial/profile"
@import "_partial/article"
@import "_partial/highlight"
@import "_partial/footer"